.bg-red {
    background: red;
}

.color-white {
    color: white;
}

.color-red {
    color: red;
}

.bg-yellow {
    background: yellow;
}

.bg-green {
    background: green;
}

div {
    padding: 10px;
}