<div class="flex flex-gap-low">
    <div class="full-height links">
        <a routerLink="/built-in-attriute-directive" routerLinkActive="active"> built-in-attriute-directive</a>
        <a routerLink="/built-in-structural-directive" routerLinkActive="active"> built-in-structural-directive</a>
        <a routerLink="/custom-attribute-directive" routerLinkActive="active"> custom-attribute-directive</a>
        <a routerLink="/custom-structural-directive" routerLinkActive="active"> custom-structural-directive</a>
        <a routerLink="/nested-routes" routerLinkActive="active"> nested-routes</a>
        <a routerLink="/route-guarded-component" routerLinkActive="active"> route-guarded-component</a>
        <a routerLink="/reactive-form-validation" routerLinkActive="active"> reactive-form-validation</a>
        <a routerLink="/template-driven-form-validation" routerLinkActive="active"> template-driven-form-validation </a>
        <a routerLink="/interceptors-demo" routerLinkActive="active"> interceptors-demo </a>
        <a routerLink="/inbuilt-pipes" routerLinkActive="active"> inbuilt-pipes </a>
        <a routerLink="/custom-pipes" routerLinkActive="active"> custom-pipes </a>
    </div>
    <div class="full-height placeholder">
        <router-outlet />
    </div>
</div>